---
title: About
layout: default
permalink: /about/
---
<div class="container">


    <h1 class="page-title centered">Sobre o Transparência Unicamp</h1>


    <div class="row">
      <div class="col-sm-6 well lead">
          Nos dedicamos a disponibilizar e analizar os dados da Unicamp para melhorar a vida no campus
      </div>

      <div class="col-sm-6">
        <h4>Entre para o Transparência Unicamp!</h4>
            <ul>
               <!--  <li>
                    Attend our weekly open hack nights on Thursdays from 8:30-10pm. <a href="https://groups.google.com/forum/#!forum/harvard-open-data">Join our mailing list</a> for details!
                </li>
                <li>
                    <a href="https://medium.com/harvard-open-data-project">Read our blog</a> and submit articles.
                </li> -->
            </ul>

            Quer saber mais? Envie um email para gustavomaronato@gmail.com

      </div>
    </div>

    <br /><br />


    <h2 class="page-header centered">O que fazemos</h2>

    <div class="row">
      <div class="col-md-4">
        <h3>Criamos o primeiro catálogo de dados da Unicamp</h3>

        <p>

          Aos moldes de <a href="https://data.gov">data.gov</a>, nós estamos <a href="{{ site.baseurl }}/catalog">coletando e disponibilizando os dados da Unicamp</a>. Com isso, nós promovemos transparência e acesso aos dados que podem melhorar a vida no campus.
        </p>

        <!-- <h4>Featured datasets</h4>
        <ul>

        </ul> -->

        <a href="/catalog" class="btn btn-primary btn-block">Veja todo o catálogo aberto</a>
      </div>

      <div class="col-md-4">
        <h3>Criando uma política de dados abertos</h3>

        <p>
          Nós estamos trabalhando com a reitoria e com o Instituto de Computação para abrir e disponibilizar o máximo de dados institucionais da Unicamp. Estamos empenhados em alterar as políticas de dados para facilitar seu acesso.
        </p>

        <a href="https://medium.com/harvard-open-data-project" class="btn btn-primary btn-block">Leia mais sobre nossas iniciativas</a>
      </div>

      <div class="col-md-4">
        <h3>Ciência de dados para entender nossa universidade</h3>
        <p>
          Blabla bla
        </p>

        <a href="https://medium.com/harvard-open-data-project" class="btn btn-primary btn-block">Leia nossas análises</a>
      </div>
    </div>


    <h2 class="page-header centered">Se envolva</h2>

    <div class="row">
      <div class="col-sm-6">
        Nos temos encontros semanais para discutir o futuro dos dados abertos na universidade e para hackear os dados que já existem. Junte-se a nós em um encontro para se envolver com nossa comunidade!
      </div>
      <div class="col-sm-6">
        Nós costumamos organizar e atender a hackathons para empenhar nossos conhecimentos e ganhar prêmios. Junte-se a nós nessas competições!
      </div>
    </div>


   <!--  <p>
      <a href="https://groups.google.com/forum/#!forum/harvard-open-data" class="btn btn-lg btn-primary btn-block">Join our mailing list to get invited to these events!</a>
    </p> -->


    <h2 class="centered page-title">Projetos atuais</h2>

    Nós estamos trabalhando em coisas bem interessantes atualmente:

    <ul>
        <li>
            Coordenando o movimento de dados abertos dentro da reitoria da Unicamp
        </li>
        <li>
            Analisando para onde o dinheiro realmente vai dentro da Unicamp
        </li>
        <li>
            Determinando o quão diverso é o corpo discente
        </li>
    </ul>

    <p>
        Veja a lista inteira aqui
    </p>

    <!-- <h2>Example visualizations</h2>

    {% for entry in site.data.visualizations %}
        <div class="row">
            <div class="col-xs-6">
                <img src="img/{{ entry.img }}" class="img img-responsive" />
            </div>
            <div class="col-xs-6">
                <h3>{{ entry.title }}</h3>
                <p>{{ entry.description }}</p>
                <a href="{{ entry.source}}">Source</a>
            </div>
        </div>

        <hr>
    {% endfor %} -->

    <!--
    <h3>Comments?</h3>
    <p>
        We'd love to have your feedback/comments on our <a target="_blank" href="https://github.com/Harvard-Open-Data-Project/hodp/issues">GitHub Issues page</a>.
    </p> -->


    <!--
    <p>We've teamed up with the former deputy CTO of the US, Nick Sinai, Harvard's CTO, Jim Waldo, and Harvard's Chief Digital Officer, Perry Hewitt, to build Harvard's first open data catalog​. We're empowering Harvard students to hack with Harvard data including admissions data, course catalogs, dhall menus, and university finances.​</p>

    <p>Our main work includes:</p>

    <ul>
        <li>Gathering open data from around the Harvard community</li>
        <li>Analyzing and visualizing the data, or building applications around it</li>
        <li>Using these results to drive policy changes around Harvard</li>
        <li>Empowering Harvard students to also hack with this data to improve student life or the University</li>
    </ul>

    <p>As we expand, we're looking for people with a passion for anything from data science to public policy. Join our team to ​build our web frontend and data analysis tools, create visualizations and apps with Harvard data, work closely with our mentors in the civic tech space, and craft university-wide open data policies.</p>

    Interested in getting involved? <a href="https://github.com/Harvard-Open-Data-Project/hodp/issues">Join the discussion</a> or email neelmehta@college.harvard.edu.</p>

    <a href="https://dataverse.harvard.edu/dataverse/harvardopendata" class="btn btn-primary btn-block">See our datasets</a>


    <h2>Background</h2>

    <h3>What We Do</h3>

    <p>There has been a large movement toward open data in government (e.g. <a href="https://data.gov">Data.gov</a>) and in other universities (e.g. <a href="http://yoda.yale.edu/">Yale's Open Data Access Project</a>). The Harvard administration has been working on an open data portal of our own for nearly two years, and by finally bringing together all the necessary people we are making this a reality.</p>

    <h3>Mission Statement</h3>

    <p>The goal of the Harvard Open Data Project (HODP) is to leverage open data to foster community, efficiency, and student innovation. Making data public and easily accessible allows us all to unlock its potential. Data-driven progress unites people, organizations, and departments as we all try to make daily life better. Aggregating, maintaining, and publicizing open data has and will continue to be a global trend and we want Harvard to be at its forefront. Our goal is to give that progress a home with centralization of available data, integration with existing systems, and showcases of data-inspired products.</p>

    <p>Students from across the University are spearheading a project to build Harvard's first open data portal, which will empower Harvard students and researchers to discover and hack with University data like financial data, enrollment stats, course catalogs, and more.</p> -->


    <h2 class="centered">People</h2>

    <div class="row">
        <!-- empty media element prevents rules for media:first-child from messing up first person -->
        <div class="media"></div>

        {% for person in  site.data.people %}
        <div class="media col-md-4">
          <div class="media-left">
            <a href="{{ person.url }}">
              {% if person.image %}
                  <img src="{{ site.baseurl }}/img/people/{{ person.image }}" class="media-object img-circle" alt="{{ person.name }}" style="width: 64px;" />
              {% else %}
                  <img src="{{ site.baseurl }}/img/people/generic.jpg" class="media-object img-circle" alt="{{ person.name }}" style="width: 64px;" />
              {% endif %}
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">{{ person.name }}</h4>
            {{ person.role }}
          </div>
        </div>

        <!-- <div class="col-xs-3 text-centered">
            {% if person.image %}
                <img src="/img/people/{{ person.image }}" class="img-responsive img-circle" />
            {% else %}
                <img src="/img/people/generic.jpg" class="img-responsive img-circle" />
            {% endif %}
            <strong>{{ person.name }}</strong>, {{ person.role }}
        </div> -->
        {% endfor %}
    </div>


    <!-- <h2 class="centered">Partners</h2>

    <p>We are proud partners with <a href="http://codingitforward.com/">Coding it Forward</a>, a community of people using technology for social good. Like Coding it Forward (another Harvard creation), we're passionate about using the tools of technology to increase government transparency, improve citizens' lives, and unlock innovation using data.</p> -->

</div>
