---
title: Catalog
layout: default
permalink: /catalog/

# we need d3 scripts to load and visualize the catalog
scripts:
    - https://d3js.org/d3-collection.v1.min.js
    - https://d3js.org/d3-dispatch.v1.min.js
    - https://d3js.org/d3-dsv.v1.min.js
    - https://d3js.org/d3-request.v1.min.js
    - https://d3js.org/d3-selection.v1.min.js
    - https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js
    - /hackemtu-data-catalog/js/catalog.js
---

<div class="container">


  <h1 class="page-title centered">Catálogo de dados</h1>

  <p class="lead">
    Esse é o inventário de dados abertos para a Hackatona de Mobilidade Urbana - HackEMTU 2018, apresentando <span id="catalog-count">dezenas de</span>
    datasets públicos de entidades do transporte público do município e região metropolitana de São Paulo
  </p>

  <!-- Search box -->
  <div class="input-group">
    <span class="input-group-addon">
        <i class="fa fa-search"></i>
    </span>
    <input type="text" id="catalog-search-text" class="form-control" placeholder="Digite para pesquisar datasets">
  </div>

  <br />

  <div class="col-sm-3">
    <h3 class="page-header">Categorias</h3>
    <div class="list-group" id="filter-category">
    {% for category in site.data.categories %}
      <a href="{{ site.baseurl }}/catalog/index.html?category={{ category.slug }}" class="list-group-item" id="filter-category-{{ category.slug }}">
        <i class="fa fa-fw fa-{{ category.icon }}"></i> &nbsp; {{ category.name }}
      </a>
    {% endfor %}
    </div>
    <h3 class="page-header">Tipos</h3>
    <div class="list-group" id="filter-type">
        {% for filetype in site.data.filetypes %}
          <a href="{{ site.baseurl }}/catalog/index.html?type={{ filetype.name }}" class="list-group-item" id="filter-type-{{ filetype.name }}">
            <i class="fa fa-fw fa-{{ filetype.icon }}"></i> &nbsp; {{ filetype.name }}
          </a>
        {% endfor %}
    </div>
  </div>
  <div class="col-sm-9">
      <div class="alert alert-danger hidden" id="catalog-error">
        Nenhum dataset encontrado!
      </div>
       <div id="catalog-results">
            <!-- search results here -->
       </div>
  </div>
</div>
