<div class="footer">
  <div class="container">

      <img class="brandlogo" src="{{ site.baseurl }}/img/brand/emtu.svg">
      <img class="brandlogo" src="{{ site.baseurl }}/img/brand/emdec.svg">
      <img class="brandlogo" src="{{ site.baseurl }}/img/brand/sptrans.png">
      <img class="brandlogo" src="{{ site.baseurl }}/img/brand/seade.png">
      <img class="brandlogo" style="height:80px" src="{{ site.baseurl }}/img/brand/unicamp.svg">
      <img class="brandlogo" src="{{ site.baseurl }}/img/brand/scipopulis.svg">
      <br>
      <p class="text-muted">
          Copyright &copy;2018 HackEMTU  (fork projeto <a href="https://github.com/Maronato/transparencia-data-catalog">Transparência Unicamp</a>).

  </div>
</div>
