<div class="footer">
      <div class="container">
            <div class="container">
                <div class="col-xs-6"><h3 style="color:#0e1b4d;margin-bottom:0px;">Organização</h3>
                <br><svg width="45" height="25">
                        <rect width="45" height="5" style="fill:#00bfc3" />
                    </svg>
                    <br>
          <a href="http://prefeitura.rio/"><img style="width:100px;margin-left:15px;margin-right:15px;margin-bottom:30px;" src="{{ site.baseurl }}/img/organizacao/logo-prefeitura.png"></a>
          <a href="http://abmen.org.br/"><img style="width:100px;margin-left:15px;margin-right:15px;margin-bottom:30px;" src="{{ site.baseurl }}/img/organizacao/logo-abimen.png"></a>
          <a href="https://itdpbrasil.org/"><img style="width:100px;margin-left:15px;margin-right:15px;margin-bottom:30px;" src="{{ site.baseurl }}/img/organizacao/itdp.png"></a>
                </div>
          <div class="col-xs-6"><h3 style="color:#0e1b4d;margin-bottom:0px;">Parceiros</h3>
          <br><svg width="45" height="25">
              <rect width="45" height="5" style="fill:#00bfc3" />
          </svg>
          </div>
          <br>
          <a href=""><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/parceiros/ics.png"></a>
          <a href=""><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/parceiros/c40.png"></a>
          <br>
          <h3 style="color:#0e1b4d;margin-bottom:0px;">Apoio</h3>
          <br><svg width="45" height="25">
              <rect width="45" height="5" style="fill:#00bfc3" />
          </svg>
          <br>
          <a href=""><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/apoio/bdm.png"></a>
          <a href=""><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/apoio/a4pm.png"></a>
          <br>
          <h3 style="color:#0e1b4d;margin-bottom:0px;">Suporte em produtos/serviços</h3>
          <br><svg width="45" height="25">
              <rect width="45" height="5" style="fill:#00bfc3" />
          </svg>
          <br>
          <div><a href="http://www.addtech.com.br/"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/suporte/addtech-logo.png"></a>
          <a href="http://www.coletivo.org.br/"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/suporte/coletivo.png"></a>
          <a href="https://www.ntu.org.br/"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;" src="{{ site.baseurl }}/img/suporte/ntu.png"></a>
          <a href="http://www.rioonibus.com/"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:10px;" src="{{ site.baseurl }}/img/suporte/rio-onibus.png"></a>
          <a href="https://www.scipopulis.com/"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:10px;" src="{{ site.baseurl }}/img/suporte/scipopulis.png"></a>
        </div><div>
          <a href="https://www.visionaris.com.br/"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:10px;" src="{{ site.baseurl }}/img/suporte/visionaris.png"></a>
          <a href="https://moovitapp.com/?lang=pt-br"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:10px;" src="{{ site.baseurl }}/img/suporte/moovit.png"></a>
          <a href="https://latinamerica.uitp.org/pt"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:10px;" src="{{ site.baseurl }}/img/suporte/uitp.png"></a>
          <a href="www.sebrae.com.br/sites/PortalSebrae"><img style="width:100px;margin-left:30px;margin-right:30px;margin-bottom:30px;margin-top:10px;" src="{{ site.baseurl }}/img/suporte/sebrae.png"></a>
        </div>
        <br>
      <br>
      <p class="text-muted">
          Copyright &copy;II Desafio COR  (fork projeto <a href="https://github.com/Maronato/transparencia-data-catalog">Transparência Unicamp</a>).

  
</div>
