<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% if page.title %}
            {{ page.title }} |
        {% endif %}

        {{site.title}}
    </title>
    <meta name="description" content="{{ site.description }}">
    <!-- <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}"> -->

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://bootswatch.com/journal/bootstrap.min.css">
    <!-- TODO  get a custom embed code -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    <!-- Custom styles for each page -->
    {% for style in page.styles %}
        <link rel="stylesheet" href="{{ site.baseurl }}{{style}}">
    {% endfor %}

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!--<link rel="icon" type="image/png" href="{{ site.baseurl }}/img/squarelogo.png">-->
</head>
